.score-board{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.score-board h2{
    font-size: 35px;
}

.score-board h4{
    font-size: 25px;
}